@charset "UTF-8";

body{
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: 12px;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(255, 0, 51), pink);
}

h1{
    margin-top: 20px;
    text-align: center;
    z-index: 1;
}

.book h1{
    margin: 0 0 15px 0;
    font-size: 26px;
}

.book p{
    font-size: 18px;
    text-align: center;
    margin-left: 10px;
    margin-right: 20px;
    line-height: 1.4;
}

/* ================= LIVRO ================= */

.book {
     display: flex;
    flex-direction: column;   /* empilha verticalmente */
    align-items: center;      /* centraliza horizontal */
    justify-content: flex-start; /* começa do topo */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2;
    width: min(90vw, 550px);
    height: min(55vh, 300px);

    border-radius: 10px;

    background-color: #f4ecd8;
    background-image: 
        radial-gradient(rgba(0,0,0,0.03) 1px, transparent 1px);
    background-size: 4px 4px;

    box-shadow: 1px 1px 12px #000;

    perspective: 2000px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.cover {
    z-index: 2;
    position: absolute;
    inset: 0;

    background-color: lightgray;
    border-radius: 10px;
    cursor: pointer;

    transition: all 0.5s;
    transform-origin: left;

    box-shadow: 1px 1px 12px #000;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.book:hover .cover {
    transform: rotateY(-90deg);
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    display: block; 
}

/* ================= FUNDO ANIMADO ================= */

.animacao-bg {
    position: fixed;
    inset: 0;
    z-index: 0;
    overflow: hidden;
    pointer-events: none;
}

.bg-img {
    position: absolute;
    width: 120px;
    opacity: 0.8;
    animation: mover linear infinite;
}

@keyframes mover {
    from { transform: translateX(0); }
    to { transform: translateX(120vw); }
}

/* mantém suas alturas */
.bg-img:nth-child(1){ top: 5vh; animation-duration: 12s; left: -200px; }
.bg-img:nth-child(2){ top: 28vh; animation-duration: 12s; left: -290px; }
.bg-img:nth-child(3){ top: 51vh; animation-duration: 12s; left: -200px; }
.bg-img:nth-child(4){ top: 78vh; animation-duration: 12s; left: -290px; }

.bg-img:nth-child(5){ animation-delay: 5s; top: 0vh; animation-duration: 12s; left: -200px; }
.bg-img:nth-child(6){ animation-delay: 5s; top: 25vh; animation-duration: 12s; left: -290px; }
.bg-img:nth-child(7){ animation-delay: 5s; top: 55vh; animation-duration: 12s; left: -200px; }
.bg-img:nth-child(8){ animation-delay: 5s; top: 78vh; animation-duration: 12s; left: -290px; }

/* ================= SEGUNDA TELA ================= */

.segunda-tela{
    position: relative;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.spotify{
    z-index: 2;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    margin-top:100vh; /* começa após primeira tela */
}

/* ================= PLAYER ================= */

.frame{
    z-index: 1;
    background:#111;
    padding:10px;
    box-shadow:0 20px 40px rgba(0,0,0,0.5);
}

.poster{
    background:white;
    padding:20px;
    width:250px;
    text-align:center;
}

.cover2{
    width:100%;
    height:180px;
    object-fit:cover;
    display:block;
}

.music-info h2{
    font-size:19px;
    margin:15px 0 5px;
}

.music-info p{
    font: "Arial";
    font-size:15px;
    margin:3px 0 10px;
    color:rgb(0, 0, 0);
}

input[type="range"]{
    width:100%;
}

.controls{
    margin-top:15px;
}

button{
    width:40px;
    height:40px;
    border-radius:60%;
    border:none;
    background:black;
    color:rgb(250, 186, 231);
    font-size:26px;
    text-align: right;
    cursor:pointer;
}

/* ================= FOTOS ================= */ 

.scratch-container{
  position:absolute; /* importante para espalhar */
  width:180px;
  height:240px;
}


.hidden-image{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:15px;
  display:block;
}

.scratchCanvas{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border-radius:15px;
  z-index:2;
}



/* ajustado para vh (alinhamento correto) */
.foto1{
  top:112%;
  left:26%;
   transform:rotate(-8deg);
}

.foto2{
  top:112%;
  right:10%;
   transform:rotate(6deg);
}

.foto3{
  top:163%;
  left:15%;
   transform:rotate(4deg);
}

.foto4{
  top:160%;
  right:25%;
   transform:rotate(-5deg);
}




/* ================= MOBILE ================= */

@media (max-width: 700px){

.book{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:80%;
    height:36%;
    min-height:220px;
}

.book h1{
    margin: 0 0 0 0;
    font-size: 16px;
}

.book p{
    font-size: 14px;
    text-align: center;
    margin-left: 10px;
    margin-right: 20px;
    line-height: 1.2;
}

.spotify{
    margin-top:80vh;
}

.frame{
    padding:5px;
    box-shadow:0 8px 15px rgba(0,0,0,0.4);
}

.poster{
    width:100px;        /* menor ainda */
    padding:8px;
}

.cover2{
    height:80px;
}

.music-info h2{
    font-size:16px;
    margin:8px 0 8px;
}

.music-info p{
    font-size:9px;
    margin:0 0 5px;
}

input[type="range"]{
    height:2px;
}

.controls{
    margin-top:6px;
}

button{
    width:22px;
    height:22px;
    font-size:12px;
}


.scratch-container{
    width:70px;
    height:110px;
}

.foto1{ top:101vh; left:5%; }
.foto2{ top:117vh; right:5%; }
.foto3{ top:150vh; left:10%; }
.foto4{ top:158vh; right:12%; }

.bg-img {
    position: absolute;
    width: 60px;
    opacity: 0.8;
    animation: mover linear infinite;
}

.bg-img:nth-child(1){ top: 5vh; animation-duration: 12s; left: -70px; }
.bg-img:nth-child(2){ top: 28vh; animation-duration: 12s; left: -100px; }
.bg-img:nth-child(3){ top: 51vh; animation-duration: 12s; left: -70px; }
.bg-img:nth-child(4){ top: 78vh; animation-duration: 12s; left: -100px; }

.bg-img:nth-child(5){ animation-delay: 7s; top: 0vh; animation-duration: 12s; left: -70px; }
.bg-img:nth-child(6){ animation-delay: 7s; top: 25vh; animation-duration: 12s; left: -100px; }
.bg-img:nth-child(7){ animation-delay: 7s; top: 55vh; animation-duration: 12s; left: -70px; }
.bg-img:nth-child(8){ animation-delay: 7s; top: 78vh; animation-duration: 12s; left: -100px; }

}
